.todo-card {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  outline: 1px solid green;
}
.todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.todo-filter {
  display: flex;
  flex-basis: 50%;
}
.todo-add {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}
.todo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.todo-search-btn {
  position: relative;
  z-index: 9999;
  overflow: hidden;
}
.todo-search-input {
  position: absolute;
  transform: translateX(-100%);
  top: 0;
}
.todo-search-input.show-input {
  animation: openInput 0.4s ease-out forwards;
}
.todo-search-input.hide-input {
  animation: closeInput 0.4s ease-out forwards;
}
@keyframes openInput {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes closeInput {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-100%);
  }
}
.todo-add-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
